.section6 {
    border-radius: 20px;
    background-color: #ffff;
    max-width: 1500px;
    margin-left: auto;
    padding: 30px;
    margin-right: auto;
}

.review-container {
  width: 100%;
  margin-left: 5em;
  padding: 30px;
}

.reviews {
  display: block;
    background-color: transparent;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    user-select: none;
    cursor: pointer;
  }

  .reviews.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .review {
    display: inline-block;
    background: white;
    margin: 2em 1em;
    color: #000;
    text-align: center;
  }


  .review img {
    transform: scale(1.0);
  }

  .line-break {
    word-wrap: break-word;
  }

  @media only screen and (max-width: 480px) {
    .section6 {
      border-radius: 20px;
      background-color: #ffff;
      margin-left: auto;
      padding: 10px;
  }

  .section6 h2 {
font-size: 22px;
text-align: center;
}


.review-container {
  width: 100%;
  margin-left: auto;
  margin-left: auto;
  padding: 25px;
}

.review img {
  transform: scale(1.2);
}

  }