.section6 {
    border-radius: 20px;
    background-color: #ffff;
    max-width: 1500px;
    margin-left: auto;
    padding: 30px;
    margin-right: auto;
}

.reviews {
    background-color: transparent;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    will-change: transform;
    user-select: none;
    cursor: pointer;
  }

  .reviews.active {
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
  }

  .review {
    padding: 50px 20px;
    display: inline-block;
    background: white;
    width: 400px;
    margin: 2em 1em;
    color: #000;
    text-align: center;
  }


  .review img {
    width: 400px;
  }